.cover__subtitle {
  max-width: 360px;
  margin: 0 auto;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: white;
  text-align: center;
}

@media screen and (max-width: 767px) { 
  .cover__subtitle {
    font-size: 16px;
    line-height: 18px;
  }
}

@media screen and (max-width: 425px) { 
  .cover__subtitle {
    margin-right: 30px;
    margin-left: 30px;
  }
}

@media screen and (max-width: 320px) { 
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
    max-width: 288px;
    margin-right: 16px;
    margin-left: 16px;
  }
}
